<launch>

	<!--<node pkg="origarm_ros" name="command_node" type="command.py"/>
	<node pkg="origarm_ros" name="listener_node" type="subscriber.py"/>-->
	<node pkg="origarm_ros" name="ABL_controller_Node" type="ABL_controller" />
	<node pkg="origarm_ros" name="COMMUNICATION_STM_Node" type="COMMUNICATION_STM"/>
	<node pkg="origarm_ros" name="Position_controller_Node" type="Position_controller"  output="screen"/>
	<node pkg="origarm_ros" name="State_Estimator_Node" type="State_Estimator"/>
	<node pkg="origarm_ros" name="Command_Node" type="command.py"/>
	<node pkg="rqt_graph" name="rqt_graph_node" type="rqt_graph"/>
	<node pkg="origarm_ros" name="ik_srv" type="ik.py"/>
</launch>
