<launch> 
	<node pkg="origarm_ros" name="keyboard_node" type="keyboard"/> 
    <node pkg="origarm_ros" name="IMU_calibration" type="IMU_calibration" launch-prefix="xterm -e"/> 
    <node pkg="origarm_ros" name="spi_node" type="spi_node" output="screen"/>  
    <!--<node pkg="rqt_graph" name="rqt_graph_node" type="rqt_graph"/>-->    
</launch>