<launch>
    <node pkg="joy" name="joy_node" type="joy_node" /> 
    <node pkg="origarm_ros" name="joystick_node" type="joy_teleopt" /> 
    <node pkg="origarm_ros" name="Position_controller_Node" type="Position_controller" />
    <node pkg="origarm_ros" name="ABL_controller_Node" type="ABL_controller" /> 
    <node pkg="origarm_ros" name="spi_node" type="spi_node" output="screen" /> 
    <node pkg="origarm_ros" name="ik_srv" type="ik.py"/>    
    <node pkg="rqt_graph" name="rqt_graph_node" type="rqt_graph"/>    
</launch>
